<section class="top-machines">
  <h4>Machines</h4>

  <%= for {_id, {machine, xpstat}} <- @top_machines do %>
    <div class="combined-level-progress">
      <.live_component
        module={Components.LevelProgress}
        target={machine}
        total_xp={xpstat.total_xp}
        new_xp={xpstat.recent_xp}
        heading_type="p"
        id={"top-machine-#{machine}"}
      />
    </div>
  <% end %>
</section>
