.highlight-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 5px;

  .highlight-row-heading {
    grid-column: 1 / -1;
    text-align: left;
  }

  .highlight-row-item {
    display: grid;
    grid-template-areas: 'desc' 'val' 'time';

    >* {
      margin: 0;
    }
  }

  .highlight-row-item-val {
    grid-area: val;

    @include smallinize-heading(2rem);
  }

  .highlight-row-item-description {
    grid-area: desc;

    //color: lighten($accent-background, 20%);
  }

  .highlight-item-time {
    grid-area: time;
  }
}
